{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

<!-- User Login form should be first page displayed to an unauthorised
user when arriving to the application -->

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>Login</h2>

            <p>{% blocktrans %}Welcome! To add to or edit The Shopping List,
                you must first log in. <br>If you have not yet created
                an account, then please
                <a class="link" href="{{ signup_url }}">Register</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary mb-3" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
