  @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Nanum Myeongjo', 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.heading {
    font-family: 'Bona Nova', sans-serif;
    text-align: center;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    color: #4b4f58;
    font-weight: 500;
}


.form-group {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 500;
}


/* Target the active class to underline the active page in the Nav bar*/
.active {
    border-bottom: 2px solid white;      
    font-weight: 500;
}

tbody {
    height: 120px;
    overflow-y: scroll;
}

/* footer */

.footer {
    clear: both;
    position: relative;
    margin-top: -100px; 
    height: 100px;
     

  } 

  
/* from Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .image-container {
        background: url(../kat-love-KGd047jNsn0-unsplash.jpg) no-repeat center center;
        height: 100%;
    
        background-color: #fff;
        background-size: cover;
    }  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .image-container {
        background: url(../organiser_image.jpg) no-repeat center center;
        height: 100%;
    
        background-color: #fff;
        background-size: cover;
    }    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }



.list-group-item {
    border: none;
}

