  @import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&family=Nanum+Myeongjo&family=Roboto:wght@100&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Nanum Myeongjo', 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: 'Bona Nova', sans-serif;
    text-align: center;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
}


.form-group {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 700;
}

a.link {
    font-weight: 800;
}

.font-italic {
    font-size: smaller;
}

img {
    aspect-ratio: auto 640/360;
    /* height: auto;
    width: 100%; */

}

/* Target the active class to underline the active page in the Nav bar*/
.active {
    border-bottom: 2px solid white;      
    font-weight: 500;
}

tbody {
    height: 120px;
    overflow-y: scroll;
}

/* footer */

.footer {
    clear: both;
    position: relative;
    margin-top: -100px; 
    height: 100px;
     

  } 

  
/* from Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media screen and (max-width: 600px) {
    table thead {
      display: none;
    }
    table td {
      display: flex;
      flex-direction: row;
    }
    
    table td::before {
      content: attr(label);
      font-weight: bold;
      /* width: 120px;
      min-width: 120px; */
    /* }
  } */ 

  @media screen and (max-width: 600px) {
    table {width:100%;}
    thead {display: none;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
    tbody td {display: block;  text-align:center;}
    tbody td:before { 
        content: attr(data-th); 
        display: block;
        text-align:center;  
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .image-container {
        background: url(../organiser_image.jpg) no-repeat center center;
        height: 100%;
    
        background-color: #fff;
        background-size: cover;
    }    
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */



.list-group-item {
    border: none;
}

