  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans:wght@300&display=swap");

html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 700;
}


.form-group {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 700;
}

a.link {
    font-weight: 800;
    font-size: large;
}

.btn {
    font-size: 1.5rem;
    font-weight: bold;
}

.font-italic {
    font-size: smaller;
}

/* add aspect ratio so size of space required for image is accounted
for when rendering the page */
img .img-fluid {
    aspect-ratio: auto 640/360;
   
}

/* Target the active class to underline the active page in the Nav bar*/
.active {
    border-bottom: 2px solid white;      
    font-weight: 500;
}

/* enable scrolling in table so User can view all shopping list items */
tbody {
    height: 120px;
    overflow-y: scroll;
}

/* footer */
.footer {
    clear: both;
    position: relative;
    margin-top: -100px; 
    height: 100px;
} 

  
/* from Bootstrap */

/* Small devices  */
  @media screen and (max-width: 600px) {
    table {width:100%;}
    thead {display: none;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
    tbody td {display: block;  text-align:center;}
    tbody td:before { 
        content: attr(data-th); 
        display: block;
        text-align:center;  
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .image-container {
        background: url(../organiser_image.jpg) no-repeat center center;
        height: 100%;
    
        background-color: #fff;
        background-size: cover;
    }    
}

.list-group-item {
    border: none;
}

