{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center">
    <h5>Add item to Shopping List:</h5>
</div>
<div class="container">
    <!-- from bootstrap -->
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
            <label for="{{field.id_for_label}}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
                <span class="help-block">{{error}}</span>
            {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock %} 
