{% extends 'base.html' %}
{% load widget_tweaks %}

<!-- template for EditView to call an item by its id and render the 
pre-populated form to the user for 'editing' -->

{% block content %}

<div class="row justify-content-center">
    <h2 class="text-capitalize mt-3">Edit {{entry}}:</h2>
</div>

<div class="container pt-3">
    <!-- from bootstrap -->
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group row offset-md-2">
            <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{ field.label }}:</label>
            <div class="col-sm-8">
                {{ field|add_class:'form-control col-sm-8 text-capitalize'}}
            </div>
            {% for error in field.errors %}
            <span class="help-block">{{error}}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group pt-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
            <a href="{% url 'home' %}" class="btn btn-default mb-3">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
