{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Shopping List Image -->
<div class="image-container mt-3">
  <img src="https://res.cloudinary.com/dyiiqx4el/image/upload/v1681077841/shopping_bags_pyesap.webp" class="img-fluid" width="auto" height="auto"
    alt="" />

</div>

<div class="card-body justify-content-center">
  <div class="row justify-content-center">

    <!-- If a user is authorised, display their Shopping List
    items in a table with each item row containing additional features -->

    {% if user.is_authenticated %}

    <div class="table-responsive-sm table-bordered pt-1">
      <h1>{{user.username}}'s List</h1>

      <!-- Add a shopping list item -->
      <button type="button" class="btn btn-lg mb-1">
        <a href="{% url 'add' %}">Add Item</a>
      </button>

      <!-- Table  -->
      <div style="max-width: 100%; max-height: 400px; overflow-y: scroll">
        <table class="table">

          <!-- Table heading row -->
          <thead>
            <tr>
              <th scope="col" class="w-auto"></th>
              <th scope="col" class="w-50">Items</th>

              <th scope="col" class="w-auto">Quantity</th>
              <th scope="col" class="w-auto">Done</th>
              <th scope="col" class="w-auto">Edit</th>
              <th scope="col" class="w-auto">Delete</th>
            </tr>
          </thead>

          <!-- Table body containing a shopping list item and it's 
            features in its own table row -->
          <tbody>
            {% for entry in entry_list %}

            <tr>

              <!-- Toggle Star on/off to mark item Urgent -->
              {% if entry.star %}
              <td>
                <a href="{% url 'toggle_star' entry.id %}">
                  <i class="fa-solid fa-star" aria-label="font awesome solid star icon" style="color: gold"></i>
                </a>
              </td>

              {% else %}
              <td>
                <a href="{% url 'toggle_star' entry.id %}">
                  <i class="fa-regular fa-star" aria-label="font awesome regular star icon" style="color: gold"></i>
                </a>
              </td>

              {% endif %}

              <!-- Toggle on/off Mark item as Done  -->
              {% if entry.check_item_as_done %}

              <td class="text-capitalize">
                <strike> {{ entry.item_name }} </strike>
              </td>
              <td>{{entry.quantity}}</td>
              <td>
                <a href="{% url 'toggle_check' entry.id %}">

                  <i class="fa-solid fa-square-check" aria-label="font awesome solid checkbox icon"></i>

                </a>
              </td>
              <td></td>
              <td>
                <a href="{% url 'delete' entry.id %}"><i class="fa-solid fa-trash-can"
                    aria-label="font awesome trash-can delete icon"></i>
                  Delete</a>
              </td>

              {% else %}
              <!-- add a Note to a Shopping list item -->
              <td class="text-capitalize">
                {{ entry.item_name }}

                <p class="text-capitalize font-italic text-wrap" style="width: 6rem">
                  <a href="{% url 'note' entry.id %}">
                    <i class="fa-regular fa-message text-center" aria-label="font awesome regular add note icon"></i>
                  </a>
                  {{entry.notes}}
                </p>
              </td>
              <td>{{entry.quantity}}</td>
              <td>
                <a href="{% url 'toggle_check' entry.id %}">
                  <i class="fa-regular fa-square" aria-label="font awesome regular checkbox icon"></i>
                </a>
              </td>

              <!-- Edit the Shopping list item, target by it's id -->
              <td>
                <a href="{% url 'edit' entry.id %}">
                  <i class="fa-solid fa-pencil" aria-label="font awesome solid pencil icon"></i> Edit</a>
              </td>

              <!-- Delete the Shopping list item, target by it's id -->
              <td>
                <a href="{% url 'delete' entry.id %}">
                  <i class="fa-solid fa-trash-can" aria-label="font awesome solid trash-can delete icon"></i> Delete</a>
              </td>

              {% endif %}
            </tr>

            <!-- if there are no items in the shopping list -->
            {% empty %}
            <tr>
              The Shopping list is currently empty.
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>

    {% else %}


  </div>

</div>
{% endif %}
</div>
{% endblock %}
