{% extends 'base.html' %}

{% block content %}



<div class="row justify-content-center">
    {% if user.is_authenticated %}
    
    <div class="table-responsive-sm pt-5" >
        <h2>{{user.username}}'s List</h2>
        <div style="height: 500px; overflow-y: scroll;">
        <table class="table" >
            <thead>
                <tr>
                    <!-- <h2>{{user.username}}'s List</h2> -->
                </tr>
                <tr>
                    
                    
                    <th scope="col"><a href="#"><i class="fa-solid fa-filter"></i></a></th>
                    <th scope="col">
                        <!-- <a href="add/"><i class="fa-solid fa-plus"></i>Add Item</a> -->
                    </th>
                    <th scope="col"></th>
                    
                    <th scope="col"><i class="fa-solid fa-star"></i></th>
                    <th scope="col"><i class="fa-solid fa-square-check"></i></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    

                </tr>
            </thead>
                <tr></tr>
            <tbody>
                {% for entry in entry_list %}
                <!-- <td><a href="{% url 'toggle_check' entry.id %}"><i class="fa-regular fa-square"></i></a></td> -->
                <!-- <h1>{{entry.check_item_as_done}}</h1> -->

                
                <tr>
                    {% if entry.star %}
                            <td><a href="{% url 'toggle_star' entry.id %}"><button type="submit" name="toggle_star" value="{{entry.id}}" class="btn-like"><i class="fa-solid fa-star"></i></button></a></td>
                        {% else %}   
                            <td><a href="{% url 'toggle_star' entry.id %}"><button type="submit" name="toggle_star" value="{{entry.id}}" class="btn-like"><i class="fa-regular fa-star"></i></button></a></td>
                            <!-- <td><a href="home/{{entry.id}}"><i class="fa-regular fa-star"></i></a></td> -->
                    {% endif %}

                    {% if entry.check_item_as_done %}
                        <th scope="row"></th>
                        <td class="text-left text-capitalize"><strike> {{ entry.item_name }} </strike></td>
                        <td>{{entry.quantity}}</td>
                                              
                        <td><a href="{% url 'toggle_check' entry.id %}"><button type="submit" name="toggle_check" value="{{entry.id}}" class="btn-like"><i class="fa-solid fa-square-check"></i></button></a></td>
                        <td></td>
                        <td><a href="{% url 'delete' entry.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                            
                    {% else %}
                        <th scope="row"></th>
                        <td class="text-left text-capitalize"> {{ entry.item_name }}</td>
                        <td>{{entry.quantity}}</td>
                        <!-- <td><a href="home/{{entry.id}}"><i class="fa-regular fa-star"></i></a></td> -->
                        <td><a href="{% url 'toggle_check' entry.id %}"><button type="submit" name="toggle_check" value="{{entry.id}}" class="btn-like"><i class="fa-regular fa-square"></i></button></a><a href="#"></a></td>
                        <td><a href="{% url 'edit' entry.id %}"><i class="fa-solid fa-pencil"></i> Edit</a></td>
                        <td><a href="{% url 'delete' entry.id %}"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
                            
                            

                            <!-- consider replacing the checkbox icon with bootstrap's 
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div> -->

                    {% endif %}
                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
    </div>
        <button type="button" class="btn-lg mb5"><a href="{% url 'add' %}">Add Item</a></button>
    </div>
    {% else %}
         <!-- paginate_by: 3  -->
    <div class="table-responsive-sm">
        <table class="table">

            <tr></tr>

            {% for entry in entry_list %}
           
                
                <tr>

                    <td class="text-left text-capitalize"> {{ entry.item_name }}</td>
                    <td>{{entry.quantity}}</td>

                </tr>
                
            {% endfor %}
        </table>
    </div>
    </div>
        <div class="row justify-content-center">
            <p><a href="{% url 'account_signup' %}" class="card-link">
                    Register </a>or<a href="{% url 'account_login' %}" class="card-link">Login</a> to <i
                        class="fa-solid fa-plus"></i>
                add to or <i class="fa-solid fa-pencil"></i>edit The Shopping List
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}