

// from Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* .image-container {
    background: url(../organiser_image.jpg) no-repeat center center;
    height: 100%;

    background-color: #fff;
    background-size: cover;
} */

.list-group-item {
    border: none;
}